.how-to {
    background: rgba(230, 221, 110, 0.7);
    border: 3px solid #73A4F0;
    height: 400px;
    border-radius: 10px;
  }

  div.how-to h1 {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
  }

  div.how-to p {
    font-size: 14px;
  }

  div.how-to li {
    font-size: 12px;
  }

  .read-me {
    border: 1px solid white;
    margin-left: 135px;
  }

  .navbar-custom {
    background-color: #E0FBFC;
  }

  .jumbotron-custom {
    background-color: #ADC5D2;
  }

  body {
    background-color: #D2E4EE;
  }

  #resume {
    font-size: 16px;
  }